h5.font.card-title {
    font-size: x-large;
}
.rt select#exampleCustomSelect {
    width: 100px;
}
span.project_tabel i {
    padding: 8px;
}
.rbt-input-wrapper {
    display: flex;
}
.rbt-token.rbt-token-removeable {
    margin-left: 15px;
    background-color: #2fa4e740 !important;
}
button.close.rbt-close.rbt-token-remove-button {
    margin-left: 8px;
    color: red;
}